@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #e1e8ee;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
	width: 100%;
	background-image: url(adult-book-business-297755.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  padding: 25px 7.5px;
}

.form-structor {
  background-color: #1a1a1a;
  border-radius: 15px;
  height: 550px;
  flex-basis: 350px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.form-structor::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.form-structor .signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 75%;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup.slide-up {
  top: 5%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup.slide-up .form-holder, .form-structor .signup.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
}
.form-structor .signup.slide-up .form-title {
  font-size: 1em;
  cursor: pointer;
  font-weight: 200;
}
.form-structor .signup.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
	display: inline;
	color: #F50000;
}
.form-structor .signup .form-title {
  color: #fff;
  font-size: 1.7em;
  text-align: center;
  font-weight: 200;
}
.form-structor .signup .form-title span {
  color: #F50000;
  opacity: 0;
	display: none;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder , .form-structor .login .center .form-holder{
	width: 100%;
  overflow: hidden;
  margin-top: 35px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder .input {
  border: 0;
  outline: none;
	padding: 12.5px 15px;
	box-sizing: border-box;
	border-radius: 100px;
  box-shadow: none;
  display: block;
  width: 100%;
  font-size: 12.5px;
  margin-bottom: 15px;
}

.form-structor .signup .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.form-structor .signup .submit-btn {
  background-color: #F50000;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
	outline: none;
  border-radius: 50px;
  display: block;
  margin: 40px auto;
  padding: 12.5px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .submit-btn:hover {
  transition: all 1s ease;
  background-color: #FF3D00;
}
.form-structor .login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
  background-color: #fff;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center {
  position: absolute;
  top: 47.5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 75%;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-title {
  color: #000;
  font-size: 1.7em;
  text-align: center;
  font-weight: 200;
}
.form-structor .login .center .form-title span {
  color: #F50000;
  opacity: 0;
	display: none;
}

.form-structor .login .center .form-holder .input, .form-structor .login .center .form-holder select {
  position: relative;
  overflow: hidden;
  display: block;
  border: 0.5px solid rgba(0,0,0, 0.15);
  outline: none;
  padding: 12.5px 15px;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: none;
  display: block;
  width: 100%;
  font-size: 12.5px;
  margin-bottom: 15px;
}

.form-structor .login .center .form-holder select {
  color: #000;
  background-color: #fff;
  margin-bottom: 0;
  appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-structor .signup .form-holder .input:last-child , .form-structor .login .center .form-holder .input:last-child {
	margin-bottom: 0;
}

.form-structor .login .center .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-structor .login .center .submit-btn {
  background-color: #F50000;
  color: rgba(256, 256, 256, 0.8);
  border: 0;
  outline: none;
  border-radius: 50px;
  display: block;
  margin: 40px auto;
  padding: 12.5px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .submit-btn:hover {
  transition: all 0.3s ease;
  background-color: #FF3D00;
}
.form-structor .login.slide-up {
  top: 90%;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .center {
  top: 10%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-holder, .form-structor .login.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  font-weight: 200;
}
.form-structor .login.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
	display: inline;
}
