#map {
  width: 100%;
  height: 600px;
}

#post-specification {
  margin: 0;
  padding: 0;
  list-style: none;

}

#post-specification li {
  display: inline-block;
  font-size: 1rem;
  margin-right: 15px;
}

#post-specification li span {
  margin-right: 7.5px;
}

.general-button {
  border: 0;
  outline: none;
  border-radius: 50px;
  display: block;
}

.checked {
  color: orange;
}

.unchecked, .reviews span {
  color: #c3c3c3;
}

.description {
  text-align: justify;
  line-height: 1.75;
  font-size: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 20px 0;
}
