@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-menu {
  padding: 30px 0;
}

#main-menu i {
  margin-right: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  text-transform: uppercase;
  transition: 0.5s;

}

ul li:hover {
  background-color: #ff4081;
}

ul li:hover a {
  color: #fff;

}

ul li a{
  color: #616161;
  display: block;
  width: 100%;
  padding: 10px 25px;
}

.sidenav {
  position: fixed;
  width: 320px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 1002;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}

html {
  background: #f5f7f8;
}

body {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: #3B3C36;
  padding: 5.5px 15px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1), 0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 47.5px;
}

header > a {
  position: absolute;
  left: 7.5px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: 8.5px 20px;
  border-radius: 7.5px;
  transition: background-color 0.5s;
}

header > a:hover {
  background-color: #ec407a;
}

header > a i {
  color: #fff;
  font-size: 17.5px;
  vertical-align: middle;
}

header .logo {
  width: 120.77px;
  margin: 0 auto;
}

header .logo img {
  width: 32.5px;
}

header .logo h1 {
  font-family: 'Pacifico', cursive;
  font-size: 22.5px;
  font-weight: 50;
}

header .logo h1 span {
  position: relative;
  top: -2.5px;
}

header .logo h1 a {
  color: #fff;
  display: inline-block;
  width: 100%;
}

.menu-logo {
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  /* text-shadow: 2px 4px 3px rgba(0,0,0,0.3); */
}

p {
  font-size: 13.5px;
}

.main-content {
  margin-top: 0;
}

.my-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 25px 20px 25px;
}

.p-row {
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr;
  padding: 30px 0;
}

.search-box {
  display: none;
}

.p-card .wrapper {
  background-color: #fff;
  width: 100%;
  height: 420px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: -1px 4px 7.5px 0px rgba(150,150,150,0.2); box-shadow: -1px 4px 7.5px 0px rgba(150,150,150,0.2);
}

.p-card .data {
  width: 100%;
  padding: 0 1.5em;
  margin: 0 auto;
}
.p-card .data .content {
  padding: 0.4em 0;
}

.p-card .wrapper img {
  width: 100%;
  object-fit: cover;
  height: 75%;
}

.p-card .title,  #restaurant-aside h2  {
  margin-top: 5px;
  font-size: 18px;
}

.title a , #restaurant-aside h2 {
  color: #303030;
}

#restaurant-aside h2 {
  margin: 20px 0;
}


.pagination {
  margin: 0 auto;
  max-width: 280px;
  margin-top: 75px;
}

.pagination li {
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  vertical-align: top;
  height: 30px;
}

.pagination li a {
  color: #444;
  display: inline-block;
  font-size: 1rem;
  padding: 0 10px;
  line-height: 30px;
}

.pagination li.active a {
  color: #fff;
}

.pagination li.active {
  background-color: #304FFE;
}

/* .pagination li:hover {
  background-color: #56FF00;
  transition: 0.1s;
} */

.pagination li.disabled a {
  cursor: default;
  color: #999;
}

.pagination li i {
  font-size: 2rem;
}

.pagination li.pages ul li {
  display: inline-block;
  float: none;
}

#filter-icon {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: inline-block;
  padding: 17px 20px;
  background-color: #ec407a;
  color: #fff;
  border-radius: 50%;
  z-index: 3;
}

#filter-icon i {
  vertical-align: middle;
}

.my-sidenav {
  position: fixed;
  width: 320px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}

footer {
  background-color: #303030;
  width 100%;
  height: 425px;
}

.desc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checked {
  color: orange;
}

.unchecked, .reviews span {
  color: #c3c3c3;
}


.reviews em, .reviews span {
  color: #b3b3b3;
  font-size: 10.5px;
}

.content .rate span {
  font-size: 12px;
}

.content .restaurant-types {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #a3a3a3;
  margin-top: 5px;
}

#restaurant-aside {
  background-color: #fff;
  padding: 20px 40px 40px;
}



.search-box form {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-btn {
  background-color: #ec407a;
  color: #fff;
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-left: 7.5px;
}

.search-txt {
  background-color: #fff;
  padding: 8.5px 17.5px;
  border-radius: 40px;
  border: none;
  outline: none;
  float: left;
  font-family: 'Open Sans', sans-serif;
}

.search-txt:placeholder {
  color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}


.sort-by {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-by p, .sort-by ul li, .sort-by li a {
  display: block;
  width: 100%;
  letter-spacing: 2.5px;
  font-size: 13.5px;
  color: #a3a3a3;
  margin: 0;
  text-align: center;
}

.sort-by p {
  padding-right: 30px;
}

.sort-by ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.sort-by ul li a {
  padding: 25px 15px;
}

.sort-by ul li:first-child a, .sort-by ul li:nth-child(2) a {
  padding-bottom: 0;
}

.sort-by ul li a:hover {
  color: #304FFE;
  transition: 0.5s;
}
.sort-by ul li a span {
  margin-right: 10px
}

label {
  display: inline-block;
  margin-bottom: 0.75rem;
  font-size: 15px;
  margin-left: 5px;
  font-weight: lighter !important;
}

input {
  vertical-align: middle;
}

.show-case {
  margin-top: 47.5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-case .show-case-descr {
  width: 35%;
  background-color: #fff;
  height: 100%;
}

.show-case .show-case-pic {
  width: 65%;
  height: 100%;
  background-image: url(appetizer-avocado-bread-566566.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

@media screen and (min-width: 630px) {
  .p-row {
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
  .sort-by {
    margin: 0;
    flex-direction: row;
  }
  .sort-by p, .sort-by ul li, .sort-by li a {
    display: inline-block;
    width: auto;
    margin: 0;
  }
  .sort-by ul li:first-child a, .sort-by ul li:nth-child(2) a {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 975px){
  .p-row {
    grid-gap: 17.5px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%;
  }
  .pagination li.prev,
  .pagination li.next {
    width: 10%;
  }
  .pagination li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1025px){
  header{
        z-index: 1000;
  }
  #filter-icon {
    visibility: hidden;
  }

  .my-sidenav {
    position: static;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    height: auto;
    padding-bottom: 0;
    background-color: #fff;
    width: auto;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
  }

  .p-row {
    grid-gap: 17.5px;
    grid-template-columns: 1fr 1fr;
  }
  .main-content {
    display: grid;
    grid-template-columns: 5fr 13fr;
  }
  #restaurant-aside {
    display: block;
  }
}


@media screen and (min-width: 1320px) {
  .p-row {
    grid-gap: 17.5px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #restaurant-aside {
    display: block;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .search-box {
    display: block;
  }

  header > a {
    position: static;
    transform: translateY(0);
  }

  header .logo h1 {
    margin: 0;
  }

  header .logo {
    width: 120.77px;
    margin-left: 17.5px;
  }

  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    display: none;
  }

  /* .menu-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  header > a i {
    vertical-align: middle;
  }

  .main-content {
    display: grid;
    grid-template-columns: 4fr 14fr;
  }
}

#main-form {
  display: flex;
}

#pic {
  position: fixed;
  width: 35%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-image: url("stil-336189-unsplash.jpg");
}

#cat-form{
  margin-left: 35%;
  width: 65%;
  padding: 150px 50px 100px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cat-form label {
  text-transform: uppercase;
}

#cat-form input {
  border: 0;
  outline: none;
  padding: 12.5px 15px;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: none;
  display: block;
  width: 100%;
  font-size: 12.5px;
}

#cat-form input::placeholder {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

#cat-form .submit-btn{
  background-color: #18A174;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  outline: none;
  border-radius: 50px;
  display: block;
  margin: 40px auto;
  padding: 12.5px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;

}

#add {
  display:block;
  background-color: #18A174;
  color: #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 12.5px;
  float: right;
  border-radius: 100px;
  margin-top: 35px;
  margin-bottom: 35px;
  border: none;
  outline: none;
}

#add i {
  margin-right: 20px;

}
